div(ng-include='"components/navbar/navbar.html"')

.container
form.thing-form
  label Syncs in realtime across clients
  p.input-group
    input.form-control(type='text', placeholder='Search movies', ng-model='searchInput')
    span.input-group-btn
      button.btn.btn-primary(type='submit', ng-click='searchToBorrow()') Add New
  .row
    .col-lg-12
      h1.page-header Features:
      ul.col-md-4.col-lg-4.col-sm-6(ng-repeat='thing in movieList')
        li
          a(href='#', tooltip='{{thing.title}}')
            | {{thing.title}}
          poster(link='{{thing.poster_path}}' size="w185")

footer.footer
  .container
    p
      | Andrew VanVlack 2015
      = ' | '
      a(href='https://twitter.com/AVanVlack') @AVanVlack
      = ' | '
      a(href='https://github.com/AVanVlack/MovieShare/issues?state=open') Issues
